html {
  height: 100%;
  width: 100%;
}
a:hover{
  background-color: blueviolet;
  color: gold;
}

a:active{
  background-color: gold;
  color: silver;
}
main{
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}
  h1:first-letter, a:first-letter{
  font-size: 2em;

}
    nav a{
  text-decoration: none;
  margin: 100px;
      color: darkgreen;
      font-size: 25px;

body{
    background-image: url("https://miro.medium.com/max/1200/1*9IIoxOcIbhMFFKMCI2ncuQ.jpeg");
background-repeat: no-repeat ;
background-size:cover ;
   }
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
      li{
  list-style-position: inside; color: black;
}
   }

a,h1 h2{
  color: darkblue;
  font-size: 2em;
}



*{
  color: purple
}




  
}
a[target="_blank"]{
  color: blue;
background-color: red;}
